<!DOCTYPE html>
<html>
<head>
	
	<title></title>
	<style>
		body{
			background-color: blue;
		}
		h1{
			background-color: lightblue;
			color: green;
		}
		p{
			font-weight: bolder;
			font-size: 100%;
			font-family: TIME;
		}
		em{
			background-color: pink;
			margin-right: 30% ; 
			margin-left: 30% ;
			font-weight: lighter;
		}
		span{
			color: black;
			border: 2px solid black;
		}
		.extra span{
			color: inherit;
		}
		
	</style>
</head>
<body>
 
</body>

</html>